:root {
  --main-color: #282c34;
  --secondary-color: white;
  --correct-color: #27ae60;
  --wrong-color: #e74c3c;
}

main {
  text-align: center;
  background-color: var(--secondary-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: "Roboto", sans-serif;
  font-size: calc(10px + 2vmin);
  color: var(--main-color);
}

p {
  margin: 25px 0;
}

img {
  width: 100%;
}

button {
  font-family: "Roboto", sans-serif;
  font-size: calc(6px + 2vmin);
  background-color: unset;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid var(--main-color);
  width: 100%;
  color: var(--main-color);
}

.buttons {
  width: 80%;
  margin: 0 auto;
}

.correct {
  color: var(--correct-color);
  border-color: var(--correct-color);
}

.wrong {
  color: var(--wrong-color);
  border-color: var(--wrong-color);
}

picture {
  display: block;
  margin-bottom: 40px;
}
.logo {
  width: 50%;
}

.welcome-image {
  width: 80%;
}
