:root {
  --main-color: #282c34;
  --secondary-color: white;
  --correct-color: #27ae60;
  --wrong-color: #e74c3c;
}

@font-face {
  font-family: "SpecialElite";
  src: local("SpecialElite"),
       url("./fonts/SpecialElite.ttf");
}

main {
  text-align: center;
  background-color: var(--secondary-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: "SpecialElite";
  font-size: calc(10px + 2vmin);
  color: var(--main-color);
}

img {
  width: 100%;
}

button {
  font-family: "SpecialElite";
  background-color: unset;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid var(--main-color);
  width: 100%;
  color: var(--main-color);
}

.buttons {
  width: 80%;
  margin: 0 auto;
}

.correct {
  color: var(--correct-color);
  border-color: var(--correct-color);
}

.wrong {
  color: var(--wrong-color);
  border-color: var(--wrong-color);
}
